<div>
    <form method="POST" action="admin/add-article" enctype="multipart/form-data">
        <input type="text" name="topic" class="mb-4"><br>
        <input type="text" name="article" class="mb-4"><br>
        <input type="text" name="filter" class="mb-4"><br>
        <input type="file" name="image" class="mb-4"><br>
        <input type="submit">
    </form>
</div>