<section class="px-12 w-100">
    <div class="grid grid-cols-1">
        <div class="grid grid-cols-2 p-3 auto-cols-max rounded">
            <div class="h-auto">
                <img src="/static/images/img-3.jpg" class="">
            </div>
            <div class="grid grid-cols-1 justify-center bg-white my-auto p-10 h-full">
                <div class="my-auto">

                
<p class="font-small font-bold">Muhriz</p><br>
                <h2 class="text-2xl mb-2">British gorvement fasicm againt India and Muslims</h2>
                <p> create mode 100644 node_modules/yaml/browser/dist/warnings-df54cb69.js
 create mode 100644 node_modules/yaml/browser/index.js
 create mode 100644 node_modules/yaml/browser/map.js
</p>
                </div>
                
            </div>
        </div>
    </div>
</section>
